extends layout


block content
    br
    h1= block.name
    br
    p= block.content
    hr
    a.btn.btn-dark(type='button' href='/blocks/edit/'+block._id) Edit
    | &nbsp;
    a.btn.btn-danger.delete-block(type='button' href='#', data-id=block._id) Delete