doctype html
html
    head
        title Diplomski
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            span.navbar-brand(href='/') Blockly
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #navbarNavAltMarkup.collapse.navbar-collapse
                .navbar-nav
                    a.nav-item.nav-link(href='/') Home
                    //a.nav-item.nav-link(href='/add_blocks') Add Block
                    a.nav-item.nav-link(href='/blocks') List of Added Blocks
                    a.nav-item.nav-link(href='/block_factory') Block Factory
                    //a.nav-item.nav-link(href='/py_parse') Python Parser
                    a.nav-item.nav-link(href='/previous_tedd') Previous Solution
        .container
            br
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2019
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')